body
{
    font-family: system-ui;;
}
:root
{
    --primary: #0463FA;
    --headfoot: rgba(4, 4, 56, 0.954);
    --headings: 30px;
    --footercontent: 18px;
    --main: #04cdfa5e;
    --Background-color: #d6f2f958;
    --Text-color: #333333;
    --intro: #0056b3;
    --h2-color: #004080;
    --section-background: linear-gradient(135deg, rgba(230, 251, 255, 0.603), rgba(158, 233, 254, 0.205));
    --cards-transform: scale(1.02);
    --cards-transition: 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover
{
    color: var(--primary);
}
.navbar-nav .nav-link
{
    color:white;
    margin-left: 2px;
}
.navbar
{
    background: var(--headfoot);
}
.navbtn 
{
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 5px;
    background-color: var(--primary);
    border: 2px solid white;
}  
.navbar-brand img
{
    border: 2px solid var(--primary);
}
h1
{
    color: var(--h2-color);
}
#home
{
  padding: 20px;
  border-right: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-image: url("images/back1.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 90px;
  margin-bottom: 20px;
}
  #home h2
  {
    color: var(--headfoot);
  }
  .card-body h5
  {
    color: var(--headfoot);
  }
#bookCarousel 
{
    background: linear-gradient(135deg, rgba(240, 248, 255, 0.9), rgba(200, 230, 255, 0.071));
    padding: 40px 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: auto;
}
.book-card 
{
    background: white;
    border-right: 2px solid var(--headfoot);
    padding: 20px;
    border-radius: 18px;
    text-align: center;
    max-width: 450px;
    margin: auto;
    transition: var(--cards-transition);
}
.book-card:hover 
{
    transform:var(--cards-transform);
}
.book-card h5 
{
    color: var(--headfoot);
    font-weight: bold;
}
.book-card h5::after 
{
    content: "";
    display: block;
    width: 45%; 
    border-bottom: 1px solid #b5b2b2c4;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 28px;
}
.book-card p 
{
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
}
    
.book-card small 
{
    font-style: italic;
    color: #555;
}
.carousel-control-prev,
.carousel-control-next 
{
    background-color:var(--primary);
}
.carousel-control-prev-icon,
.carousel-control-next-icon 
{
    filter: invert(8);
}

/* Section 1 Media Screens */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #home {
        padding: 10px;
        margin-top: 50px;
    }
    #bookCarousel {
        width: 90%;
    }
    .book-card {
        max-width: 90%;
        font-size: 14px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #home {
        padding: 15px;
        margin-top: 60px;
    }
    #bookCarousel {
        width: 85%;
    }
    .book-card {
        max-width: 85%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #home 
    {
        padding: 20px;
        margin-top: 70px;
    }
    #bookCarousel 
    {
        width: 75%;
    }
    .book-card 
    {
        max-width: 70%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #home 
    {
        padding: 25px;
        margin-top: 80px;
    }
    #bookCarousel {
        width: 70%;
    }
    .book-card {
        max-width: 60%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #home {
        padding: 30px;
        margin-top: 90px;
    }
}
/* Section 2 Reviews */
#reviews 
{
    background: var(--section-background);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.card-body span 
{
    font-style: italic;
    color: #555;
    font-size: small;
}
#reviews .card 
{
    background: white;
    border-right: 1px solid var(--primary);
    padding: 20px;
    border-radius: 12px;
    max-width: 600px;
    height: 414px;
    margin-bottom: 25px;
    transition: var(--cards-transition);
}
#reviews .card:hover 
{
    transform: var(--cards-transform);
}
.section h2
{
    font-size: var(--headings);
    color: var(--h2-color);
    margin-bottom: 25px;
}
.section h2::after 
{
    content: "";
    display: block;
    width: 30%; 
    border-bottom: 1px solid #a9b0b155;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 28px;
  }

  .card img
  {
    height:200px; 
    width:100%; 
    border-radius: 3px; 
    border: 1px solid var(--main);
  }

  /* Section 2 Book Reviews Media Screens */

  /* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    .card 
    {
        margin-bottom: 20px;
    }
    .card-title 
    {
        font-size: 18px;
    }
    .card-text 
    {
        font-size: 14px;
    }
    .btn 
    {
        font-size: 12px;
        padding: 5px 10px;
    }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .card {
        margin-bottom: 20px;
    }
    .card-title {
        font-size: 20px;
    }
    .card-text {
        font-size: 16px;
    }
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .card {
        margin-bottom: 25px;
        max-height: 420px;
    }
    .card-body h5
    {
        font-size: 16px;
    }
    .card-text p
    {
        font-size: 5px;
    }
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{
    .card {
        margin-bottom: 30px;
    }
}

/* Extra large devices (1200px and up) */
@media (min-width: 1200px) {
    .card {
        margin-bottom: 35px;
    }
}

  /* Challenges */
#challenges 
{
    padding: 50px 0;
    background: var(--section-background);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;
}
.intro 
{
    font-size: 16px;
    color: var(--intro);
    margin-bottom: 30px;
}
.challenge-card 
{
    padding: 30px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 350px;
    margin: auto;
    transition: var(--cards-transition), box-shadow 0.3s ease;
}
.challenge-card:hover 
{
    transform: var(--cards-transform);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.challenge-badge 
{
    display: inline-block;
    background: var(--primary);
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 14px;
    margin-top: 10px;
}
.carousel-indicators 
{
    position: relative;
    top: 220px;
}
.carousel-indicators button 
{
    background-color: var(--primary)!important;
    opacity: 0.7;
}
.carousel-indicators .active 
{
    background-color: var(--primary)!important;
    opacity: 1;
}
h4 i, h4
{
    color: var(--intro);
    margin-top: 40px;
}

/* Discussions */
#userDiscussions
{
    margin-bottom: 20px;
}
.calendar-icon 
{
    color: var(--primary);
    margin-right: 5px;
    font-size: 14px;
}
.rounded-circle 
{
    object-fit: cover;
    border: 2px solid var(--primary);
}
.small-btn 
{
    width: 120px;
    font-size: 14px;
    padding: 5px 10px;
}
.usercard 
{
    transition:var(--cards-transition);
    border-radius: 18px;
    text-align: left;
    padding: 30px 5px 30px 30px;
    /* background-color: #e3f2fd76;  */
    box-shadow: var(--section-background);
}
.usercard:hover 
{
    transform: var(--cards-transform);
    cursor: pointer;
}
.usercard img
{
  height: 70px;
  width: 70px;
  border: 2px solid var(--primary);
}

  /* About Us */
  #join
  {
    margin-bottom: 20px;
  }
  .list-unstyled li i 
  {
    color: var(--primary);
  }
  .list-unstyled li
  {
    text-align:left;
    line-height: 1.8;
  }
  .disc
  {
    font-size: 10px;
  }
  .cards
  {
    background-color: #e3f2fd76; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .cards:hover
  {
    transform: scale(1.02);
  }

  .founder-card 
  {
      background: white;
      transition: transform 0.3s ease-in-out;
      overflow: hidden;
      position: relative;
  }
  .founder-card:hover 
  {
      transform: scale(1.05);
  }
  .founder-highlight 
  {
      position: absolute;
      width: 100px;
      height: 100px;
      background: rgba(0, 123, 255, 0.2);
      border-radius: 50%;
      top: -20px;
      right: -20px;
      animation: pulse 1.5s infinite;
  }
  @keyframes pulse {
      0% { transform: scale(1); opacity: 0.7; }
      50% { transform: scale(1.2); opacity: 0.5; }
      100% { transform: scale(1); opacity: 0.7; }
  }
  .founder-img 
  {
      width: 250px;
      height: 250px;
      object-fit: cover;
      border: 5px solid #007bff;
  }
  .social-links a 
  {
      transition: all 0.3s ease-in-out;
  }
  .social-links a:hover 
  {
      transform: translateY(-3px);
  }
  .social-icon i 
  {
  color:white;
  transition: color 0.3s ease-in-out;
}

.image-container 
{
    position: relative;
    width: 400px;
    height: 400px;
}
.main-img icons
{
    width: 70%;
    height: 80%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--primary);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transition: var(--cards-transition);
    z-index: -1;
}
.overlay-img 
{
    width: 36%; 
    height: 43%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--primary);
    position: absolute;
    bottom: 15px;
    right: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: var(--cards-transition);
}
.image-container img:hover
{
    transform: var(--cards-transform);
    cursor: pointer;
}
.flipped
{
    transform: scaleX(-1) scaleY(-1);
}
/* About Us */

@media (min-width: 1200px)
{
    .main-img
    {
        width: 72%;
        height: 80%;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid var(--primary);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        transition: var(--cards-transition);
        z-index: -1;
    }
    .overlay-img 
    {
        width: 32%; 
        height: 39%;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid var(--primary);
        position: absolute;
        bottom: 15px;
        right: 40px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        transition: var(--cards-transition);
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .main-img
    {
        width: 75%;
        height: 80%;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid var(--primary);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        transition: var(--cards-transition);
        z-index: -1;
    }
    .overlay-img 
    {
        width: 36%; 
        height: 39%;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid var(--primary);
        position: absolute;
        bottom: 15px;
        right: 40px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        transition: var(--cards-transition);
    }
}


@media (max-width: 575.98px)
{
    .main-img 
    {
        width: 60%;
        height: 70%;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid var(--primary);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        transition: var(--cards-transition);
        z-index: -1;
    }
    .overlay-img 
    {
        width: 27%; 
        height: 35%;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid var(--primary);
        position: absolute;
        bottom: 50px;
        right: 80px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        transition: var(--cards-transition);
    }
    .card-body
    {
        line-height: normal;
        height: 200%;
    }
  }

@media (min-width: 576px) and (max-width: 767.98px) 
{
    .main-img 
    {
        width: 60%;
        height: 70%;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid var(--primary);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        transition: var(--cards-transition);
        z-index: -1;
    }
    .overlay-img 
    {
        width: 27%; 
        height: 35%;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid var(--primary);
        position: absolute;
        bottom: 50px;
        right: 100px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        transition: var(--cards-transition);
    }
    .card-body
    {
        line-height: normal;
        height: 200%;
    }
  }
  
@media (min-width: 768px) and (max-width: 991.98px) {
    .main-img 
    {
        width: 60%;
        height: 90%;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid var(--primary);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        transition: var(--cards-transition);
        z-index: -1;
    }
    .overlay-img 
    {
        width: 27%; 
        height: 45%;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid var(--primary);
        position: absolute;
        bottom: 20px;
        right: 100px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        transition: var(--cards-transition);
    }
    .card-body
    {
        line-height: normal;
        height: 200%;
    }
  }

 /* FAQS */
 #faqs
 {
   margin-bottom: 20px;
 }
.accordion-button 
{
    padding: 10px 15px;
}

.accordion-body 
{
    padding: 10px 15px;
}

.accordion-item 
{
    margin-bottom: 5px;
}

/* Footer */
footer
{
    background-color: var(--headfoot);
    color: white;
}
.btn-social i
{
    color: white;
    height: 20px;
    width: 12px;
}

.fab.fa-facebook-f,
.fab.fa-twitter,
.fab.fa-instagram,
.fab.fa-youtube 
{
  color: white;
  display: flex;
  flex-direction: row;
}
.fab.fa-facebook-f:hover,
.fab.fa-twitter:hover,
.fab.fa-instagram:hover,
.fab.fa-youtube:hover
{
  color:var(--primary);
}
.footer-end::before 
{
    content: "";
    display: block;
    width: 60%; 
    border-bottom: 1px solid #b5b2b2c4;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 28px;
  }

  /* Footer media screens */
  
/* Medium screen breakpoint (md) */
@media (min-width:768px) and (max-width: 991.98px) 
{
    footer h5 
    {
      font-size: 1.1rem;
      margin-top: 28px;
    }
    footer p 
    {
      font-size: 0.9rem;
    }
    footer ul li 
    {
      font-size: 0.9rem;
    }
    .row 
    {
      margin-bottom: 20px;
    }
  }
   
/* Small screen breakpoint (sm) */
@media (max-width: 767.98px) {
    footer h5 
    {
      font-size: 1rem;
      text-align: center;
      margin-top: 28px;
    }
    footer p 
    {
      font-size: 0.8rem;
      text-align: center;
    }
    footer ul li 
    {
      font-size: 0.8rem;
      text-align: center;
      display: inline-block;
    }
    footer ul 
    {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    footer ul li i 
  {
    margin-right: 5px;
    text-align: center;
  }

    .list-unstyled.d-flex 
    {
    justify-content: center;
    }
    footer a 
    {
      text-align: center;
    }
    .row 
    {
      margin-bottom: 15px;
    }
    .col-lg-3, .col-md-6, .col-sm-12 
    {
      text-align: center;
    }
  }
